.book-card {
  position: relative;
  width: 200px;
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-cover {
  width: 100%;
  border-radius: 8px;
}

.book-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(36,36,36,0.85);
  color: #fff;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  border-radius: 0 0 8px 8px;
}

.book-info.visible {
  opacity: 1;
  pointer-events: auto;
}

.favorite-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background:none;
  border: none;
  cursor: pointer;
}
