.filter-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.filter-bar select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  background: #e8e8e8;
}
