:root {
  --mainColor: #295c32ff;
  --mainColorLight: #51d15bff;
  --secondaryColor: rgba(161, 116, 86, 1);
  --textColor: #eee;
  --bgColor: #f8f9fa;
  --darkBg: #242424;
  --darkText: #fff;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  background-color: var(--bgColor);
  color: var(--mainColor);
  min-height: 100vh;
}
